<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <title>kanban</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/media/css/style.css">

  </head>
  <body>

    <div class="wrapper">
      <div id="main">
        <div id="listofboards" v-if="kanbanBoardsList.length && showKanbanBoardsList">
          <show-board-name
              v-for="kanbanBoard of kanbanBoardsList"
              v-bind:key="kanbanBoard.id"
              v-bind:name="kanbanBoard.title"
              v-on:click="showKanbanBoard(kanbanBoard.id)"></show-board-name>
        </div>

        <div v-if="!showKanbanBoardsList" v-on:click="showKanbanBoardsList=true" class="buttonkanban">
          <!-- This block is shown if you see kanban board -->
        </div>
      </div>
    </div>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

    <!-- Scripts -->
    <script src="/media/js/main.js"></script>

    <script type="text/x-template" id="kanban-board-template">
      <!-- Kanban board template -->
      <template>
        <div class="drag-container">
          <ul class="drag-list">
            <li v-for="stage in stages" class="drag-column" :class="{['drag-column-' + stage]: true}" :key="stage">
              <span class="drag-column-header">
                <slot :name="stage">
                  <h2>{{ stage }}</h2>
                </slot>
              </span>
              <div class="drag-options"></div>
              <ul class="drag-inner-list" ref="list" :data-status="stage">
                <li class="drag-item" v-for="block in getBlocks(stage)" :data-block-id="block.id" :key="block.id">
                  <slot :name="block.id">
                    <strong>{{ block.status }}</strong>
                    <div>{{ block.id }}</div>
                  </slot>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </template>
    </script>

  </body>
</html>
